################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MessageService/bin
/MessageService/obj
/WebStarter/bin
/WebStarter/obj
/packages
