################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MessageService/bin/Debug/netcoreapp2.0
/MessageService/obj
/WebStarter/bin/Debug/netcoreapp2.0
/WebStarter/obj
